@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

body {
  display: grid;
  margin-top: 40px;
  padding: 20px;
  place-items: center;
  background: #010101;
}

h1 {
  text-transform: uppercase;
  font: 900 120px "Rubik", sans-serif;
  background: url(https://images.unsplash.com/photo-1648743430927-5a06fe9f8476?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074&q=80);
  background-size: cover;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  color: white;
  margin-bottom: 20px;
  line-height: 1;
}

main {
  display: grid;
  max-width: 1024px;
  grid-gap: 1rem;
  font: 14px "Rubik", sans-serif;
}

main > section {
  position: relative;
  display: grid;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
  color: whitesmoke;
  background-color: #3a8491;
  background-size: cover;
}

main > section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
}

main > section:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

main > section:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1625244724120-1fd1d34d00f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
}

main > section:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1616064959886-a500e5c38e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

main > section:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1598598795009-f80c5072e665?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80);
}

div {
  display: grid;
  padding: 1rem;
  transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
  background-color: rgba(0, 0, 0, .75);
}

div > * + * {
  margin-top: 1rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

p {
  font: italic 1.125rem "Cardo", cursive;
  line-height: 1.35;
}

a {
  padding: 0.75rem 1.5rem;
  color: rgba(0, 0, 0, .75);
  background-color: #ffa600;
  text-decoration: none;
  border-radius: 4px;
  height: auto;
}

a:hover {
  background-color: #e69500;
}

a:focus {
  outline: 1px dashed #e69500;
  outline-offset: 3px;
}

@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  main > section {
    height: 350px;
  }
}
@media (min-width: 800px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (hover: hover) and (min-width: 600px) {
  div {
    transform: translateY(calc(100% - 4.5rem));
  }
  
  div > *:not(h2) {
    opacity: 0;
    transform: translateY(1rem);
    transition: 700ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  section:hover {
    align-items: center;
  }
  
  section:hover:after {
    transform: translateY(-50%);
  }
  
  section:hover div {
    transform: translateY(0);
  }
  
  section:hover div > *:not(h2) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 200ms;
  }

}
