body{
  background: rgb(0 28 47);
}

/*Container for the loading component*/
section{
  /*Layout*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  /*Padding and margin*/
  margin: 40px auto;
  /*Typography*/
  font: 300 100% 'Roboto', sans-serif;
  text-align: center;
  /*Color*/
  color: rgb(255 255 255);
}

/*Styling the progress bar*/

/*Typography*/
h1{
  font-size: 4.5vw;
  /*Padding and margin*/
  margin: 40px 0 12px;
}

p{
  font-size: 2.8vw;
  /*Padding and margin*/
  margin-top: 0;
}

/*Loading bars*/
svg rect{
  /*Fill rather than background because it's an SVG graphic*/
  fill: rgb(34 184 142);
  /*To animate it from the center point use the transform-origin proprty*/
}

/*Create the keyframes, set the starting from position, then at 50% is the smallest amount of the rectangle, then return to full size*/

