/** THEME **/

body {
  font-family: 'Raleway', sans-serif;
  color: #171717;
  font-variant-numeric: lining-nums;
  background: #fbffff;
}

h1, h2 {
  color: #2c6c69;
}

section {
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 7px #aeb7b7;
}

button, 
.button,
input {
  background: none;
  border-radius: 4px;
  padding: 1ex 1ch;
  border: solid 1px #ddd;
  text-decoration: none;
  display: inline-block;
}

input[type="number"] { text-align: right; }

button:hover,
.button:hover {
  outline: dotted 1px #2c6c69;
  outline-offset: 2px;
}

button:focus,
.button:focus {
  outline: solid 1px #2c6c69;
  outline-offset: 2px;
}

button.primary,
.button.primary {
  border-color: #2c6c69;
  background: #2c6c69;
  color: white;
}

button.secondary, 
.button.secondary {
  border-color: #2c6c69;
  color: #2c6c69;
}

button.destructive {
  border-color: #9d1616;
  color: #9d1616;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  padding: 0;
}
button.destructive:hover,
button.destructive:focus {
  outline-color: #9d1616;
}

input:invalid {
  border-left: solid 5px #9d1616;
  border-color: #9d1616;
}

.error {
  color: #9d1616;
  font-size: .875em;
  font-weight: bold;
  display: none;
}

.error:before {
  content: url('./img/icons/error.svg');
  width: 1em;
  float: left;
  margin-right: .25rem;
}

input:invalid + .error {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, dt, td[data-name]:before {
  color: #3a3a3a;
  font-weight: normal;
  font-size: .875em;
}

tbody td:nth-of-type(2),
tfoot td {
  font-weight: bold;
}

tbody tr:nth-of-type(even) {
  background: #f2fcfc;
}

tr {
  border-top: solid 1px #aeb7b7;
}

dt:after {
  content: ": ";
}

/** LAYOUT **/

body { 
  padding: 1rem;
  max-width: 1280px;
  margin: 0 auto;
}
section { margin: 1rem 0; }
section h2 { 
  padding: 1rem; 
  margin: 0;
}

dl {
  display: grid;
  gap: .5rem;
  grid-template-columns: auto max-content;
  padding: 0 1rem;
}
dd { text-align: right; }

.actions {
  padding: 1rem;
  text-align: center;
}
.actions a {
  margin-bottom: .5rem;
}

/** Mobile view table **/
@media(max-width: 549px) {
  thead {
    position: absolute;
    left: -9999rem;
  }
  td { 
    display: block;
    text-align: right;
    padding: .25rem 0;
  }
  table img { 
    float: left; 
    margin-right: 1rem;
  }
  td[data-name]:before {
    content: attr(data-name) ":";
    float: left;
  }
  tr { 
    display: block;
    padding: 1rem;
  }
  tfoot tr {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

/** Handling medium screens **/
@media (min-width: 550px) {

  table { table-layout: fixed; }
  
  th, td { 
    padding: .5rem; 
    text-align: left;
  }

  table img { 
    width: auto; 
    max-width: 100%;
  }
  
  th:nth-of-type(n+3),
  td:nth-of-type(n+3) {
    text-align: right;
  }

  tfoot th, tfoot td { text-align: right; }
}

/** Handling wide screens **/
@media (min-width: 995px) {
  .section-container {
    display: flex;
    gap: 1rem;
  }

  .summary {
    min-width: 250px;
  }

  section { margin: 0; }
}