@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  color: #171717;
  font-variant-numeric: lining-nums;
  background: #fbffff;
  padding: 1rem;
}

h1, h2 {
  color: #2c6c69;
}

button, .button {
  background: none;
  border-radius: 4px;
  padding: 10px;
  border: solid 1px #ddd;
  text-decoration: none;
}

button:hover,
.button:hover {
  outline: dotted 1px #2c6c69;
  outline-offset: 2px;
}
 
button:focus,
.button:focus {
  outline: solid 1px #2c6c69;
  outline-offset: 2px;
}

button.primary,
.button.primary {
  border-color: #2c6c69;
  background: #2c6c69;
  color: #ffffff;
}
 
button.secondary,
.button.secondary {
  border-color: #2c6c69;
  color: #2c6c69;
}

button.destructive {
  border-color: #9d1616;
  color: #9d1616;
  border-radius: 50%;
  padding: 5px;
}
 
button.destructive img {
  vertical-align: middle;
}
 
button.destructive:hover,
button.destructive:focus {
  outline-color: #9d1616;
}

button, 
.button,
input {
  background: none;
  border-radius: 4px;
  padding: 10px;
  border: solid 1px #ddd;
  text-decoration: none;
  display: inline-block;
}
 
th {
  color: #3a3a3a;
  font-weight: normal;
  font-size: .875em;
}

tbody td:nth-of-type(2) {
  font-weight: bold;
}

tbody tr:nth-of-type(even) {
  background: #f2fcfc;
}

tbody td:nth-of-type(2),
tfoot td {
  font-weight: bold;
}

table { border-collapse: collapse; }
tr { border-top: solid 1px #aeb7b7; }

th, dt, td[data-name]::before {
  color: #3a3a3a;
  font-weight: normal;
  font-size: .875em;
}
 
dt::after {
  content: ": ";
}
 
section {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 2px 2px 7px #aeb7b7;
}

@media(max-width: 549px) {
  td, tr { display: block; }
  table td > img {
    float: left;
    margin-right: 10px;
  }
  td { 
    text-align: right;
    padding: 5px;
  }
  thead {
    position: absolute;
    left: -9999rem;
  }
  td[data-name]::before {
    content: attr(data-name) ":";
    float: left;
  }
  tfoot tr {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  tfoot th { padding: 5px; }
}

table { width: 100%; }

dl {
  display: grid;
  gap: .5rem;
  grid-template-columns: auto max-content;
  padding: 0 1rem;
}
dd { text-align: right; }

.actions {
  padding: 1rem;
  text-align: center;
}
.actions a {
  margin: 0 .25rem .5rem;
}

section { margin: 1rem 0 }

section h2 {
  padding: 1rem;
  margin: 0;
}

@media (min-width: 550px) {
 
  th:nth-of-type(n+3),
  td:nth-of-type(n+3) {
    text-align: right;
  }
  
  th { text-align: left }
  
  td, th { padding: 10px }
}

input[type="number"] { text-align: right }

@media (min-width: 955px) {
  .section-container {
    display: flex;
    gap: 20px;
  }
  section.my-cart { flex-grow: 1 }
  section.summary { flex-basis: 250px }
 }
 
 main {
  max-width: 1280px;
  margin: 0 auto;
}
