main {
  font-family: sans-serif;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 2fr)) 250px;
  grid-template-areas:
    "header header header"
    "content content sidebar"
    "content content sponsor"
    "author . sponsor"
    "footer footer footer";
  gap: 20px;
}

main > * {
  border: 1px solid #bfbfbf;
}

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

article {
  grid-area: content;
}

footer {
  grid-area: footer;
}

.author-details {
  grid-area: author;
}

.sponsor {
  grid-area: sponsor;
}

@media (max-width: 800px) {
  main {
    grid-template-areas:
      "header header header"
      "content content sidebar"
      "author author sponsor"
      "footer footer footer";
  }
}

@media (max-width: 500px) {
  main {
    grid-template-areas:
      "header header header"
      "content content content"
      "sidebar sidebar sidebar"
      "author author author"
      "sponsor sponsor sponsor"
      "footer footer footer";
  }
}
