@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"),
       url("./fonts/open-sans-italic-regular.woff2") format("woff2"),
       url("./fonts/open-sans-italic-regular.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Open Sans";
    src:
      url("./fonts/open-sans-variable.woff2") format("woff2-variations");
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
  }
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Open Sans";
    src: local("Open Sans Regular"),
         url("./fonts/open-sans-regular.woff2") format("woff2"),
         url("./fonts/open-sans-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Open Sans";
    src: local("Open Sans Bold"),
         url("./fonts/open-sans-regular.woff2") format("woff2"),
         url("./fonts/open-sans-regular.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(221 238 252);
  margin-top: 80px;
  font-family: "Open Sans", sans-serif;
}

.card-item {
  max-width: 430px;
  height: 270px;
  margin: auto;
  position: relative;
  color: white;

}

.card-item__side {
  height: 100%;
  width: 100%;
  background: url("bg.jpeg") left top / cover blue;
  border-radius: 15px;
  box-shadow: 0 20px 60px 0 rgb(14 42 90 / 0.55);
  margin-bottom: 2rem;
 }
 
 .front{
  padding: 25px 15px;
  text-shadow: 7px 6px 10px rgb(14 42 90 / 0.8);
}

.card-item__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 10px;
}

.card-item__chip {
  width: 60px;
}

.card-item__number {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  margin-bottom: 35px;

  font-size: 27px;
  font-weight: 700;
}

.card-item__content {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.back{
  padding-top: 30px;
}

.card-item__band {
  height: 50px;
  margin-top: 30px;
  background: rgb(0 0 19 / 0.8);
}

.card-item__cvv {
  text-align: right;
  padding: 15px;
}

.card-item__cvvTitle {
  padding-right: 10px;
  margin-bottom: 5px;
  font-size: 15px
}

.card-item__cvvBand {
  background: white;
  height: 45px;
  margin-bottom: 30px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #1a3b5d;
  font-style: italic;
  border-radius: 4px;
}

.card-item__holder, .card-item__dateTitle {
  opacity: 0.7;
  font-size: 15px;
}

.card-item__name, .card-item__dateItem {
  font-size: 18px;
  font-weight: 600;
}

@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  .back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
  }
  .card-item {
    transform-style: preserve-3d;
    transition: transform 350ms cubic-bezier(0.71, 0.03, 0.56, 0.85);
  }
  .card-item__side {
    backface-visibility: hidden; 
  }
  .card-item:hover {
    transform: rotateY(180deg);
  }
}
