/*
*
Container
*
*/
body {
  /*Colors*/
  background: rgb(240 240 240);
  /*Typography*/
  line-height: 1.4;
  font: 17px 'Roboto', sans-serif;
}

.container {
  /*Layout*/
  max-width: 1800px;
  /*Padding and margin*/
  margin: 0 auto;
}

/*
*
Card styling
*
*/
.cards {
  box-sizing: border-box;
  /*Padding and margin*/
  margin-top: 15px;
  padding: 1.5%;
  /*Grid*/
  display: grid;
  gap: 2%;
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.card {
  /*Padding and margin*/
  padding: 2%;
  /*Border Radius*/
  border-radius: 4px;
  /*Colors*/
  background: rgb(254 255 249);
  color: rgb(54 54 54);
  text-decoration: none;
  /*Box shadow*/
  box-shadow: rgb(0 0 0 / 0.19) 0 0 8px 0;
  /*Layout*/
  position: relative;
}

.card span {
  /*Layout*/
  display: block;
}
.card .card-summary {
  /*Padding and margin*/
  padding: 5% 5% 3% 5%;
}
.card .card-header {
  /*Colors*/
  background-color: rgb(255 255 255 / 0.15);
  /*Other styles*/
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}
.card .card-title {
  /*Padding and margin*/
  padding: 3.5% 0 2.5% 0;
  /*Text transform*/
  text-transform: uppercase;
  /*Colors*/
  background: rgb(244 48 89 / 0.85);
  color: rgb(255 255 255);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card .card-title h3 {
  /*Padding and margin*/
  padding: 0 3.5%;
  margin: 0;
  /*Typography*/
  font-size: 1.2em;
  line-height: 1.2;
}
.card .card-meta {
  /*Padding and margin*/
  padding: 0 5%;
  /*Text transform*/
  text-transform: uppercase;
  font-size: .78em;
  bottom: 5%;

}

img {
  max-width: 100%;
}

/*
*
Toggle styling
*
*/
label {
  /*Typography*/
  font: 16px sans-serif;
   /*Padding and margin*/
  margin-bottom: 8px;
  /*User select with prefix's*/
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

}

button.switch {
  /*Padding and margin*/
  margin: 0;
  padding: 6px;
  /*Border Radius*/
  border-radius: 5px;
  /*Text align*/
  text-align: center;
  /*Text transform*/
  text-transform: uppercase;
  /*Colors*/
  background-color: rgb(10 25 49);
  /*Layout*/
  border: 0px;
  display: block;
  /*Cursor*/
  cursor: pointer;
  /*Typography*/
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.4px
}

button.switch span {
  /*Padding and margin*/
  padding: 2px 10px;
  /*Cursor*/
  pointer-events: none;
}

[role="switch"][aria-checked="false"] :first-child,
[role="switch"][aria-checked="true"] :last-child {
  /*Border Radius*/
  border-radius: 4px;
  /*Colors*/
  background: rgb(52 199 89);
  color: rgb(255 255 255);
}

[role="switch"][aria-checked="false"] :last-child,
[role="switch"][aria-checked="true"] :first-child {
   /*Colors*/
  color: rgb(187 187 221);
}

/*Media queries*/
@media screen and (max-width: 680px){
  .cards{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px){
  .cards{
      grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .card {
    width: 100%;
  }
}

/*Prefers color scheme*/
@media (prefers-color-scheme: dark) {
 /* If the user preference is dark then use these styles */
  body{
    background: rgb(28 28 30);
  }
  .card{
    background: rgb(72 72 74);
    color: rgb(255 255 255);
  }
}
