body {
  background: #001c2e;
}

/* Container for the loader */
section {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 40px auto;

  /* Typography */
  font: 300 100% 'Roboto', sans-serif;
  text-align: center;

  color: #ffffff;
}


h1 {
  font-size: 4.5vw;
  /* Typography */
  margin: 40px 0 12px;
}

p {
  font-size: 2.8vw;
  margin-top: 0;
}

/* Loader */

rect:nth-child(1) {
  fill: #1a9f8c;
  animation-delay: 0;
}

rect:nth-child(2) {
  fill: #1eab8d;
  animation-delay: 200ms;
}

rect:nth-child(3) {
  fill: #20b38e;
  animation-delay: 400ms;
}

rect:nth-child(4) {
  fill: #22b78d;
  animation-delay: 600ms;
}

rect:nth-child(5) {
  fill: #22b88e;
  animation-delay: 800ms;
}

rect:nth-child(6) {
  fill: #21b48d;
  animation-delay: 1s;
}

rect:nth-child(7) {
  fill: #1eaf8e;
  animation-delay: 1.2s;
}

rect:nth-child(8) {
  fill: #1ca48d;
  animation-delay: 1.4s;
}

rect:nth-child(9) {
  fill: #17968b;
  animation-delay: 1.6s;
}

rect:nth-child(10) {
  fill: #128688;
  animation-delay: 1.8s;
}

rect:nth-child(11) {
  fill: #128688;
  animation-delay: 2s;
}

@keyframes doScale {
  from {
    transform: scaleY(1)
  }

  50% {
    transform: scaleY(0.2)
  }

  to {
    transform: scaleY(1)
  }
}

rect {
  animation: doScale 2.2s infinite;
  transform-origin: center;
}

@media (prefers-reduced-motion: reduce) {
  rect {
    animation: none;
  }
}

/* Safe Version */
progress {
  height: 24px;
  width: 100%;
  accent-color: #0eb98f;
}

/* Experimental Version */
progress {
  height: 24px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 20px;
  background: linear-gradient(to right, #128688 0%, #4db3ff 100%);
  border: none;
}

::-webkit-progress-value {
  border-radius: 20px;
  background-color: #7be6e8;
}

::-webkit-progress-bar {
  border-radius: 20px;
  background: linear-gradient(to right, #128688 0%, #4db3ff 100%);
}

::-webkit-progress-inner-element {
  border-radius: 20px;
}

::-moz-progress-bar {
  border-radius: 20px;
  background-color: #7be6e8;
}
